@(username: String, records: List[Record])

@main("Welcome, " + username + "!", false) {
    <form class="form-inline">
        <div class="input-prepend">
            <span class="add-on">From</span>
            <input type="text" value="09-01-2013" 
                class="input-small datepicker">
        </div>
        <div class="input-prepend">
            <span class="add-on">To</span>
            <input type="text" value="09-02-3013" 
                class="input-small datepicker">
        </div>
        <input type="button" value="Go!" class="btn">
    </form>
    
    <script type="text/javascript">
        $(".datepicker").datepicker();
    </script>
    
    <table class="table">
    <tr>
        <td>ID</td>
        <td>Time</td>
        <td>Altitude</td>
        <td>Latitude</td>
        <td>Longtitude</td>
        <td>Speed</td>
        <td>Accuracy</td>
        <td>Photo</td>
    </tr>

    @for(rec <- records){
        <tr>
            <td>@rec.id</td>
            <td>@rec.time</td>
            <td>@rec.altitude</td>
            <td>@rec.latitude</td>
            <td>@rec.longtitude</td>
            <td>@rec.speed</td>
            <td>@rec.accuracy</td>
            <td>
            @if(rec.photo != null){
            <img src="@routes.Application.getPhoto(rec.id)">
            }
            </td>
        </tr>
    }
    </table>
    
}
