@(message: String, records: List[Record])

@main("Welcome to Play 2.1") {
    
    <p> @message </p>
    <p><a href="@routes.Application.logout()">logout</a></p>

    <table border="1">
    <tr>
        <td>ID</td>
        <td>Time</td>
        <td>Altitude</td>
        <td>Latitude</td>
        <td>Longtitude</td>
        <td>Speed</td>
        <td>Accuracy</td>
        <td>Photo</td>
    </tr>

    @for(rec <- records){
        <tr>
            <td>@rec.id</td>
            <td>@rec.time</td>
            <td>@rec.altitude</td>
            <td>@rec.latitude</td>
            <td>@rec.longtitude</td>
            <td>@rec.speed</td>
            <td>@rec.accuracy</td>
            <td><img src="@routes.Application.getPhoto(rec.id)"></td>
        </tr>
    }
    
}
