@(filterForm: Form[controllers.Application.Filter], 
    username: String, records: List[Record])

@import helper._
@implicitField = @{FieldConstructor(dateTemplate.f)}
@main("Welcome, " + username + "!", false) {
    @form(routes.Application.filterIndex(), 'class -> "form-inline"){
        @inputText(filterForm("startdate"), 
            '_label -> "From", 'class -> "input-small datepicker")
        @inputText(filterForm("enddate"), 
            '_label -> "To", 'class -> "input-small datepicker")
        <input type="submit" value="Go!" class="btn">
    }
    
    <script type="text/javascript">
        $(".datepicker").datepicker({format: 'yyyy-mm-dd'});
    </script>
    
    <table class="table">
    <tr>
        <td>ID</td>
        <td>Time</td>
        <td>Altitude</td>
        <td>Latitude</td>
        <td>Longtitude</td>
        <td>Speed</td>
        <td>Accuracy</td>
        <td>Photo</td>
    </tr>

    @for(rec <- records){
        <tr>
            <td>@rec.id</td>
            <td>@rec.time</td>
            <td>@rec.altitude</td>
            <td>@rec.latitude</td>
            <td>@rec.longtitude</td>
            <td>@rec.speed</td>
            <td>@rec.accuracy</td>
            <td>
            @if(rec.photo != null){
            <img src="@routes.Application.getPhoto(rec.id)">
            }
            </td>
        </tr>
    }
    </table>
    
}
