@(loginForm: Form[models.User])
@import helper._
@implicitField = @{FieldConstructor(inputTemplate.f)}

@main("Sign Up:", true) {

<div class="container-narrow" style="max-width: 350px; margin-left: 70px">
    
    @form(routes.Application.postsignup(), 'class -> "form-horizontal"){
        <div class="control-group">
            <div class="controls">
            @if(flash.contains("error")){
                <div class="alert alert-error myalert">@flash.get("error")</div>
            }
            @if(flash.contains("info")){
                <div class="alert alert-info myalert">@flash.get("info")</div>
            }
            </div>
        </div>
        @inputText(loginForm("username"), '_label -> "Username")
        @inputPassword(loginForm("password"), '_label -> "Password")
        @inputPassword(loginForm("password"), '_label -> "Repeat", 'id -> "password-repeat")
        <div class="control-group">
            <div class="controls">
            <input type="submit" value="Submit" 
                class="btn btn-primary btn-large" 
                style="width:220px;">
            </div>
        </div>
    }

</div>
    
}
